@import '../../stylesheets/colors';

.App > .container {
  margin-bottom: 5px;
}

.App .verify-email {
  margin-bottom: 0;
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  color: $gray-dark;
  border-radius: 0;

  p {
    padding: 19px;
  }

  .btn {
    padding: 0;
  }
}

.App{
  background-color: transparentize(#313638, 0.8);
}

#home {
  background-image: url(img/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}