@import '../../stylesheets/colors';

.App > .container {
  margin-bottom: 5px;
}


.App{
  background-color: transparentize(#313638, 0.8);
}

#react-root {
  background-image: url(img/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #313638;
}