.product--main {
  margin: 75px;
  opacity: 0.8;
}

.product {
  margin: 150px 0px 0px 0px;
  background: url(img/product/karma-community.png);
  background-repeat: no-repeat;
  background-size: 1000px 1200px;
  min-height: 1200px;
}