
.member-detail-page {
  margin-top: 150px;
  margin-bottom: 100px;
  opacity: 0.95;
}

.member-detail-header{
  font-size:20px ;
  font-weight: 300;
}

.member-detail-record{
  font-size:18px ;
}


.custom-tabs {
  font-size: 25px;
  color: white;
  background:#c68F4E;
}

.custom-tab {
  height: auto;
  font-size: 22px;
  color: white;
}