/*--------------------------------------------------------------
	Common
--------------------------------------------------------------*/
html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

body {
  background: #fff;
  font: 400 12px/1.8 "Futura-Light", "Open Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left !important;
}

.position-relative {
  position: relative;
}

.leftauto {
  right: 0 !important;
  left: auto !important;
}

/* Transition elsements */
a,
.btn {
  transition: all 0.125s ease-in-out 0s;
}

.client-logo,
.gallery-caption,
.gallery-image:after,
.gallery-image img,
.price-table,
.team-detail,
.team-image:after,
.work-caption,
.work-image > img,
.work-image:after,
.post-thumbnail,
.post-video,
.post-images-slider {
  transition: all 0.3s ease-in-out 0s;
}

/* Reset box-shadow */
.btn,
.well,
.panel,
.progress,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
  box-shadow: none;
}

/* Reset border-radius */
.well,
.label,
.alert,
.progress,
.form-control,
.modal-content,
.panel-heading,
.panel-group .panel,
.nav-tabs > li > a,
.nav-pills > li > a {
  border-radius: 2px;
}

.pr-remove {
  /*vertical-align: middle !important;*/
  text-align: center;
}

.examples {
  border-radius: 2px;
  padding: 7px 5px;
  margin: 0 0 40px;
}

.et-icons .box1 {
  border: 1px solid #e5e5e5;
  display: block;
  width: 25%;
  float: left;
  padding: 0;
  font-size: 13px;
  margin: -1px 0 0 -1px;
}

.et-icons .box1 > span {
  display: inline-block;
  border-right: 1px solid #e5e5e5;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 28px;
  margin-right: 5px;
}

.fa-icons > div {
  padding: 0;
  border: 1px solid #e5e5e5;
  margin: -1px 0 0 -1px;
  font-size: 13px;
}

.fa-icons > div > i {
  display: inline-block;
  margin-right: 5px;
  min-width: 40px;
  min-height: 40px;
  border-right: 1px solid #f1f1f1;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}

.help-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Sections */
.navbar-custom + .main {
  margin-top: 50px;
}

.main {
  position: relative;
  background-color: #313638;
  z-index: 1;
}

.module,
.module-small {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

/* Module header */
.module-small {
  padding: 70px 0;
}

.module-extra-small {
  padding: 25px 0px;
}

.module-medium {
  padding: 75px 0px;
}

.holder-w {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 1px;
  width: 50%;
}

.holder-w:before {
  border-top: 1px solid #eaeaea;
  position: relative;
  display: block;
  content: "";
  top: 1px;
  height: 1px;
  width: 100%;
}

/* Sections dividers */
.divider-w {
  border-top: 1px solid #eaeaea;
  margin: 0;
}

.divider-d {
  border-top: 1px solid #202020;
  margin: 0;
}

/* Half-image */
.side-image {
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.side-image-text {
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 140px 60px 140px;
}

/* Dark background */
.bg-dark,
.bg-dark-30,
.bg-dark-60,
.bg-dark-90,
.bg-dark .module-title,
.bg-dark-30 .module-title,
.bg-dark-60 .module-title,
.bg-dark-90 .module-title,
.bg-dark .module-subtitle,
.bg-dark-30 .module-subtitle,
.bg-dark-60 .module-subtitle,
.bg-dark-90 .module-subtitle,
.bg-dark .alt-module-subtitle h5,
.bg-dark-30 .alt-module-subtitle h5,
.bg-dark-60 .alt-module-subtitle h5,
.bg-dark-90 .alt-module-subtitle h5 {
  color: #fff;
}

.bg-dark {
  background: #111;
}

.bg-dark-30:before {
  position: absolute;
  background: rgba(2, 2, 2, 0.4);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.bg-dark-60:before {
  position: absolute;
  background: rgba(34, 34, 34, 0.8);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.bg-dark-90:before {
  position: absolute;
  background: rgba(34, 34, 34, 0.9);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.bg-gradient:before {
  position: absolute;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(40, 115, 113, 0.57) 25%, rgba(115, 54, 31, 0.67) 75%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-8 */
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.bg-light {
  background: #f6f6f6;
}

.parallax-bg {
  background-attachment: fixed;
  background-size: cover;
  min-height: 20%;
}

/* Vertical margin, padding */
.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-140 {
  padding-top: 140px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-140 {
  padding-bottom: 140px !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

@media only screen and (max-width: 991px) {
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-10 {
    margin-top: 10px !important;
  }
  .mt-sm-20 {
    margin-top: 20px !important;
  }
  .mt-sm-30 {
    margin-top: 30px !important;
  }
  .mt-sm-40 {
    margin-top: 40px !important;
  }
  .mt-sm-50 {
    margin-top: 50px !important;
  }
  .mt-sm-60 {
    margin-top: 60px !important;
  }
  .mt-sm-70 {
    margin-top: 70px !important;
  }
  .mt-sm-80 {
    margin-top: 80px !important;
  }
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .mb-sm-10 {
    margin-bottom: 10px !important;
  }
  .mb-sm-20 {
    margin-bottom: 20px !important;
  }
  .mb-sm-30 {
    margin-bottom: 30px !important;
  }
  .mb-sm-40 {
    margin-bottom: 40px !important;
  }
  .mb-sm-50 {
    margin-bottom: 50px !important;
  }
  .mb-sm-60 {
    margin-bottom: 60px !important;
  }
  .mb-sm-70 {
    margin-bottom: 70px !important;
  }
  .mb-sm-80 {
    margin-bottom: 80px !important;
  }
}

@media only screen and (max-width: 767px) {
  .mt-xs-0 {
    margin-top: 0 !important;
  }
  .mt-xs-10 {
    margin-top: 10px !important;
  }
  .mt-xs-20 {
    margin-top: 20px !important;
  }
  .mt-xs-30 {
    margin-top: 30px !important;
  }
  .mt-xs-40 {
    margin-top: 40px !important;
  }
  .mt-xs-50 {
    margin-top: 50px !important;
  }
  .mt-xs-60 {
    margin-top: 60px !important;
  }
  .mt-xs-70 {
    margin-top: 70px !important;
  }
  .mt-xs-80 {
    margin-top: 80px !important;
  }
  .mb-xs-0 {
    margin-bottom: 0 !important;
  }
  .mb-xs-10 {
    margin-bottom: 10px !important;
  }
  .mb-xs-20 {
    margin-bottom: 20px !important;
  }
  .mb-xs-30 {
    margin-bottom: 30px !important;
  }
  .mb-xs-40 {
    margin-bottom: 40px !important;
  }
  .mb-xs-50 {
    margin-bottom: 50px !important;
  }
  .mb-xs-60 {
    margin-bottom: 60px !important;
  }
  .mb-xs-70 {
    margin-bottom: 70px !important;
  }
  .mb-xs-80 {
    margin-bottom: 80px !important;
  }
}

/* Scroll to top */
.scroll-up {
  position: fixed;
  display: none;
  bottom: 7px;
  right: 7px;
  z-index: 999;
}

.scroll-up a {
  background: #fff;
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  border-radius: 2px;
}

.scroll-up a:hover,
.scroll-up a:active {
  opacity: 1;
  color: #000;
}

/* Video */
.video-controls-box {
  position: absolute !important;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.video-controls-box a {
  display: inline-block;
  color: #fff;
  margin: 0 5px 0 0;
}


/* Caption */
.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.titan-caption {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.caption-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}




@font-face {
  font-family: 'Futura-Light';
  src: url('fonts/futura_light.ttf');
  font-weight: 400;
}


.img-center {margin:0 auto;}

div.layout {
  text-align: center;
  margin-bottom: 20px;
}

div.centre {
  text-align: left;
  width: 200px;
  background-color: #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.icon-big {
  height: 150px;
  width: 150px;
}

.icon {
  height: 100px;
  width: 100px;
}

.icon-30 {
  height: 30px;
  width: 30px;
}

.icon-60{
  height: 60px;
  width: 60px;
}

.tab-font {
  font-size: 60px;
  padding: 0;
  margin: 0;
  color:  #FFAD3C;
}

.tab-content-font{
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.tab-font1 {
  font-size: 18px;
  font-style: italic;
}


.nav-tab {
  margin-top: 10px;
  opacity: 0.8;
}

.span-style {
  color: #c68F4E;
}

textarea {
  width: 200px;
}

.reduce-title{
  text-align: left;
  font-size: 22px;
}

.check-input{
  height: 20px;
  width: 20px;
}

.features-title {
  font-size: 20px;
  text-transform: none;
}

.para {
  font-size: 14px;
}

.maxl{
  margin:0px ;
}
.inline{
  display: inline-block;
}
.inline + .inline{
  margin-left:10px;
}

.features-item {
  margin: 20px 0;
  text-align: center;
}

.features-icon,
.alt-features-icon {
  line-height: 1.2;
  font-size: 42px;
  color: #111;
}

.features-title,
.alt-features-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  margin: 16px 0 15px;
}

.alt-features-item {
  position: relative;
  padding-left: 55px;
  margin: 65px 0 0 0;
}

.alt-features-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  font-size: 28px;
}

.alt-features-title {
  font-size: 13px;
  margin: 0 0 10px;
}

/* Content box */
.content-box {
  margin: 20px 0;
  text-align: center;
}

.content-box-title {
  font-weight: 400;
  font-size: 18px;
  color: #111;
  margin: 16px 0 15px;
}

.callout-text {
  color: rgba(255, 255, 255, 0.6);
}

.callout-title {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.callout-btn-box {
  text-align: right;
  padding-top: 4px;
}

.request-cta {
  padding: 50px 0px;
}

.home-section {
  position: relative;
  background-color: #313638;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  background-size: cover;
}

.titan-title-size-1 {
  letter-spacing: 4px;
  font-size: 15px;
}

.titan-title-size-2 {
  line-height: 1.3;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: .8;
}

.titan-title-size-3 {
  letter-spacing: 16px;
  font-size: 46px;
}

.titan-title-size-4 {
  letter-spacing: 24px;
  font-weight: 400;
  font-size: 48px;
}


